@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2');
}

:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #819B57;
}

/* BASE */
* {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

.brand {
    color: var(--color-brand-light);
}

.uppercase {
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

.section {
    padding: 48px 0;
}

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

/* LINK */
.nav-link {
    color: var(--color-primary-light);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}

/* BUTTON */
.order-call-btn {
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background: var(--color-brand-light);
    cursor: pointer;
}

.order-call-btn:hover {
    background-color: transparent;
    color: #465929;
}

/* HERO SECTION */
.hero-section {
    padding: 272px 0;
}

.hero-title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* ADVANTAGES SECTION */
.advantages-section {
    padding: 0;
}

.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}

.section-title .accent {
    color: var(--color-brand-dark);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
}

/* TRADITIONS SECTION*/
.traditions-title {
    margin-bottom: 42px;
}

.traditions-section {
    padding-top: 96px;
}

#traditions-section .brand {
    font-weight: 600;
}

/* CHEFS SECTION */
.chefs-title {
    margin-bottom: 80px;
}

.chefs-article-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

/* FORMATS SECTION */
.formats-title {
    margin-bottom: 80px;
}

.formats-article-title {
    color: var(--color-primary-light);
    font-size: 24px;
    font-weight: 600;
}

.formats-atricle-text {
    color: var(--color-primary-light);
    font-size: 14px;
    font-weight: 300;
}

/* CONTACTS SECTION */
.contacts-title {
    margin-bottom: 16px;
}

.contacts-map {
    width: 100%;
    max-width: 603px;
}

/* FOOTER SECTION */

.footer-address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.footer-privacy-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.footer-copyright {
    color: #A18268; 
    font-size: 14px;
}