:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #819B57;
}

/* BASE */
body {
    color: var(--color-primary-dark);
}

ul {
    list-style-type: none;
}

/* LINK */
.nav-link {
    color: var(--color-primary-light);
}

.nav-link:hover {
    color: var(--color-brand-light);
}

/* BUTTON */
.order-call-btn {
    color: var(--color-primary-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    background: var(--color-brand-light);
    cursor: pointer;
}

.order-call-btn:hover {
    background-color: transparent;
    color: #465929;
}

/* HERO SECTION */
.hero-title {
    color: var(--color-primary-light);
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* ADVANTAGES SECTION */
.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}

.section-title {
    color: var(--color-primary-dark);
}

.section-title .accent {
    color: var(--color-brand-dark);
}