.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    padding: 128px;
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.modal-title {
    margin-bottom: 8px;
}

.modal-form-text {
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
}

.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
}

.form-input:focus {
    border-color: var(--color-brand-normal);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
    font-size: 16px;
    line-height: 1.17;
}

/*  .checkbox-field {
    position: relative;
}

.terms-check {
    appearance: none;
}

.terms-check:checked + .terms-check-label::before {
    background-color: #465929;
}

.terms-check-label {
    margin-left: 30px;
    cursor: pointer;
}

.terms-check-label::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 0;
    border: 1px solid var(--color-primary-dark);
    border-radius: 2px;
} */


.modal-terms {
    width: 220px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.46;
    text-align: center;
    color: var(--color-primary-dark);
}